@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
* {
    font-family: 'Roboto', sans-serif;
    /* ignora o tamanho das bordas e dos padding na composição dos elementos */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: rgb(121, 155, 206);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 25px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 350px;
    border-radius: 3px;
    align-items: center;
    align-content: center;
    padding: 30px 55px;
    
}

.card:hover {
    background-color: rgb(246, 246, 246);
}

.image {
    width: 80px;
    margin: 20px auto;
}

.card-title {
    color: rgb(81, 93, 181);
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 30px;
}

.card-description {
    color: rgb(142, 143, 144);
    padding: 25px 0;
    font-size: 15px;
}

.price {
    color: rgb(81, 93, 181);
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
}

.month {
    font-size: 15px;
    letter-spacing: 1px;
}



@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        margin: 50px 0;

    }

    .card {
        padding-top: 20px 20px;
        width: 450px;
    }
}

@media (max-width: 670px) {
    .container {
        flex-direction: column;
        margin: 50px 0;

    }

    .card {
        padding-top: 20px 20px;
        width: 250px;
    }
}